* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    user-select: none; }
  /* Fonts */
    @font-face {
        font-family: 'eraser_font';
        src: url('../fonts/eraserregular-webfont.woff2') format('woff2'),
            url('../fonts/eraserregular-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal; }
    @font-face {
        font-family: 'kg_happy';
        src: url('../fonts/kghappy-webfont.woff2') format('woff2'),
                url('../fonts/kghappy-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal; }

  /* Page Structure */
  html, body {
    background-color: #aa300eb7;
    font-family:  "eraser_font", "Helvetica Neue", "Helvetica", sans-serif; 
}
  .ABCs {
    font-family:  "kg_happy", "Helvetica Neue", "Helvetica", sans-serif; 
    font-size: 25px;
    color: #cddb0bb7;
    text-align: center;
    margin-top: 20px;
  }
  section {
    display: block;
    height: 100vh; }
  .logo {
    position: relative;
    top: -50px;
    right: 50px;
    opacity: 0.75;
    height: 300px;
    width: auto; 
    transform: skew(10deg);
    animation: shake 2.5s infinite;
    animation-direction: alternate;
}

@keyframes shake {
    0% {
              transform: skewY(10deg);
    }
    100% {
              transform: skewY(-10deg);
    }
}


html, body {
  background: linear-gradient(90deg, #aa300eb7 10%, #29323c 90%);
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden
}

.container {
    width: 80%;
    height: 70%;
}

.timer {
    position: relative;
    height: 40px;
    top: 50 px;
}
#clock {
    position: relative;
    width: 150px;
    height: 150px;
    left: 100px;
    top: -200px;
    /* display: flex; */
    background-size: contain;
    margin: 0 auto 0 auto;
    background: url(../images/clockface.png) no-repeat center/contain;
    list-style: none;
  }
  
  #sec, #min, #hour {
    position: absolute;
    width: 30px;
    height: 150px;
    top: 0px;
    left: 60px;
  }
  
  #sec {
    background: url(../images/sechand.png)no-repeat center/contain;
    z-index: 3;
  }
     
  #min {
    background: url(../images/minhand.png)no-repeat center/contain;
    z-index: 2;
  }
     
  #hour {
    background: url(../images/hourhand.png)no-repeat center/contain;
    z-index: 1;
  }

#chalkBoard {
  font-size: 40px;
  color: #E8E8E8;
  font-family:  "eraser_font", "Helvetica Neue", "Helvetica", sans-serif; 
  display: block;
  width: 80%;
  height: 80%;
  min-height: auto;
  margin: 0px auto 0 auto;
  background-color: #3b4f42;
  padding: 20px 30px;
  overflow-y: auto;
  box-shadow: -1px 2px 2px 0px #555, inset 0 0 10px 0 #555;
  border-radius: 10px;
  border: #B78240 solid 10px;
  background-image: url(../images/chalk_smear.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  top: -70px;
}

#chalkBoard:after {
  content: "";
  display: block;
  position: fixed;
  border-radius: 0.1em 0.1em 0 0.1em;
  width: 50px;
  height: 8px;
  background: #f1f1f1;
  top: 82%;
  margin-top: 75px;
  margin-right: 60px;
  right: 25%;
  box-shadow: inset 0 -4px 1px rgba(0, 0, 0, 0.3), -1px -1px 1px rgba(0, 0, 0, 0.2), 0 2px 0 rgba(0, 0, 0, 0.3)
}

/* a {
  color: #ff0
} */